/AKingCardManagement/[Ll]ibrary/
/AKingCardManagement/[Ll]ogs/
/AKingCardManagement/[Tt]emp/
/AKingCardManagement/[Oo]bj/
/AKingCardManagement/[Bb]uild/
/AKingCardManagement/[Bb]uilds/
/AKingCardManagement/.vs/
/AKingCardManagement/[Ll]ogFiles/
/AKingCardManagement/.vs/AKingCardManagement/v16/
/AKingCardManagement/UserSettings/Layouts/